body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  --brand-primary-color: #4D5AE5;
  --h2h3-header-footer-color: #2E2F42;
  --body-text-color: #434455;
}

*,
*::after
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: #ffffff;
  padding-top:24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav{
  display: flex;
  align-items: center;
}

.header-link:hover {
  color: var(--brand-primary-color);
}

.header-link:focus {
  color: var(--brand-primary-color);
}

a {
  text-decoration: none;
}

.headerlist {
  display: flex;
  align-items: center
}

.link {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  color: var(--h2h3-header-footer-color);
  margin-right: 77px;
}

.logo {
  color: var(--brand-primary-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--h2h3-header-footer-color);
  text-decoration: none;
  display: block;
  padding: 0 20px;
}

.contacts:hover {
  color: var(--brand-primary-color);
}

.contacts:focus {
  color: var(--brand-primary-color);
}

.contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  display: block;
  align-items: center;
  margin: 0 20px;
}

/* HERO SECTION */

.hero {
  background-color: var(--h2h3-header-footer-color);
  padding: 192px 457px ;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  max-width: 496px;
  text-align: center;
}

.header-btn {
  font-family: inherit;
  font-weight: 500;
  background: var(--brand-primary-color);
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 48px auto 0;
}

/* ABOUT SECTION */
.about {
  margin-top: 120px;
  margin-bottom: 120px;
}


.about-title-top {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-list {
  display: flex;
  justify-content:space-between;
  padding: 0;
  margin: 0;
}

.about-list li{
    max-width: 264px;
}

.about-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--h2h3-header-footer-color);
  margin: 0 0 8px 0;
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  margin: 0;
}

/* SERVISE SECTION */

.service {
  margin-bottom: 120px;
}

.service-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--h2h3-header-footer-color);
  margin-left: 360px;
  margin-bottom: 72px;
}

.service-img {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* TEAM SECTION */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title-top {
  font-size: 36px;
  line-height: 1.11;
  color: var(--h2h3-header-footer-color);
  padding-left: 483px;
  margin: 0 0 72px;
}

.team-photos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.team-photo {
  background-color: #ffffff;
  max-width: 264px;
}

.imgtxt{
  padding: 32px 16px;
}

.team-title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--h2h3-header-footer-color);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8px;
}

.team-txt {
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  text-align: center;
  margin: 0;
}

/* FOOTER */

.footer {
  background-color: var(--h2h3-header-footer-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-link-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  color: #f4f4fd;
}

.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
  margin-top: 16px;
  max-width: 254px;
}

/* Portfolio  Page*/
/* Section Button Filtres */
.portfolio-title-top {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.filter-btn-list {
  list-style: none;
  margin-top: 96px;
  margin-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}


.filter-button {
  font-family: inherit;
  font-weight: 500;
  color: var(--brand-primary-color);
  background: #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 12px;
  margin-right: 12px;
}

.filter-button:hover {
  background-color: var(--brand-primary-color);
  color: #ffffff;
}

.filter-button:focus {
  background-color: var(--brand-primary-color);
  color: #ffffff;
}

/* Section Row-a,b,c */

ul {
  list-style: none;
}

.row-a {}

.row-imga {
  display: flex;
  flex-wrap: wrap;
  margin: -24px -10px;
  padding: 0;
  padding-bottom: 120px;
}

.row-imgs{
  margin: 24px 10px;
  border: 0.5px solid #F4F4FD;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.row-title{
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--h2h3-header-footer-color);
  margin-top: 32px;
  margin-bottom: 8px;
  padding-left: 16px;
}

.row-txt{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  padding-left: 16px;
  margin-bottom: 32px;
}

.row-page-txt{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  
}
